*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}


.navbar{
	padding-top: 10px !important;
}


.navbar-toggler{
border: 0 !important ;
	outline: none !important ;
	padding: initial !important ;
}
.navbar-toggler-icon{
	font-size: 30px;
}



.nav-link {
	color: #001f3f !important;
}

.nav-link:hover {
	color: white !important;
}

.active {
	color: white !important;
}

.imgg {
	height: 40px;
	width: 40px;

}

.pad{
	display: flex;
    justify-content: space-around;
	flex-direction: row;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
	box-sizing: border-box;
	display: block;
}
.content {
    background-color: transparent;
}
.content{
    padding: 0px 15px 1px 15px;
	padding-bottom: 0px !important;
    margin: 0 -15px;
    overflow-wrap: break-word;
    background-color: #fff;
	box-sizing: border-box;
	display: block;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 0px;
	
}
@media (max-width:768px){
	.content2{
	
	    width: 100% !important;
  
	
}
	.content3 h2{
	margin-bottom: 25px !important;
}
	.btn1{
	
	padding: 10px 20px !important;
	    width: 100% !important;
	margin-right: 0px !important;
	margin-top: 40px;
	
	
}
	.btn2{
	
	padding: 10px 20px !important;
	   width: 100% !important;
	margin-right: 0px !important;
	margin-top: 40px;
	
	
}
	
}
.content3 p {
	margin-bottom: 25px !important;
}

h1.entry-title {
    display: var(--page-title-display);
}
h1 {
    color: #333;
    font-family: Lato;
    font-size: 42px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 1rem;
    text-transform: none;
	text-align: center;
}
h1 {
    margin: 0 0 2.125rem 0;
    font-size: 42px;
}

.content2{
	padding: 10px;
	background-color: #F9F9F9;
	position: relative;
	
	text-align: center;
	flex-wrap: wrap;
	    width: 100%;
   left: 0;
	align-content: flex-start;
	box-sizing: border-box;
	border-top: 2px solid  lightgrey ;
	margin-bottom: 20px;
	
}
.content3{
	padding: 10px;
	max-width: 100%;
	align-content: flex-start;
	box-sizing: border-box;
}
.content3 h2{
	margin-bottom: 50px;
}
.content3 p {
	margin-bottom: 50px !important;
}





.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;

}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
  .pad{
	display: flex;
    justify-content: space-around;
	flex-direction: column;
}
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.logo img {
	width:   40px;
	height:   40px;
}

.btn1{
	font-family: "Lato", Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: #ee3151;
    border-style: solid;
    border-color: #ee3151;
    border-radius: 5px 5px 5px 5px;
	padding: 15px 30px;
	    color: #fff;
	    width: 200px;
	margin-right: 40px;
	margin-top: 40px;
	
	
}

.btn1:hover{
	opacity: 0.7;
}


.btn2{
	font-family: "Lato", Lato;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    background-color: #ee3151;
    border-style: solid;
    border-color: #ee3151;
    border-radius: 5px 5px 5px 5px;
	padding: 15px 30px;
	    color: #fff;
	    width: 200px;
	
	margin-top: 40px;
	
	
}

.btn2:hover{
	opacity: 0.7;
}


 a{
	box-shadow: none;
    text-decoration: none !important;
}
.imgg{
	width: 40px;
	height: 40px;
}

.navbar{
	background:  #fff !important;;
	color: #14565b !important;
	
	
	
}


.active-home{
	color: #ee3151 !important;
	border-bottom: 2px solid #ee3151 !important;
	border-width: 5px !important;
	
}
.nav-link{
	color: #ee3151 !important;
	font-weight: bold !important ;
	font-size: 1rem !important;
	margin-left: 2px !important;
}.nav-link{
	display: inline-block !important;
}

.imgg{
	height: 40px !important ;
	width: 40px !important ;
}
.nav-link:hover{
	color: #ee3151 !important;
	border-bottom: 2px solid #ee3151 !important ;
	border-width: 5px !important ;
}
.nav-link{
	display: inline-block;
}

.navbar-toggler{
border: 0 !important ;
	outline: none !important ;
	padding: initial !important ;
}
.logo img {
	max-width:   40px !important ;
	max-height:   40px !important ;
}
.tit{
	color: #ee3151 !important ;
}
.footer-links a:hover{
	color: #ee3151 !important;
}